.image-container {
  margin-top: 20px;
}

.main-image {
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.image-container a {
  display: inline-block;
}
