.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.goods-card img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
