.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goods-card img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-title {
  cursor: text; 
  text-align: center; 
  font-family: "Times New Roman", Times, serif; 
  font-size: 28px; 
  font-weight: bold; 
  margin: 30px 0; 
}
